body {
  background-image: url('https://s3-alpha-sig.figma.com/img/9149/62fe/df972f8022f9d8ea50c6febb8c1d29a7?Expires=1703462400&Signature=WHY3R-nIDqabYAyaDZlH7dEmfm-tTVvCY7SRs183b8o0cDfAwy-Fu4y1FdgycMTdfaQqhebWOYq6UYERNIe6-iK92RXwLTSJz1Ohb63zaJWRWaxApLvv2Jyla335VS~W6AjASOQlGMoE9ctDdx48RlemfowB~K6TC63OtcfGUVx8ZRSKjBXnSD0fazX0c1zWdEnwyG6JasPo5KdiqL6ywYqJJagDeUTznMUKMAWwGQApUssZYpgxvm7~zhXYQZfYeRjfzSKUkZL4YJK0zDoQei8NPtlA9Cr56D9c64yTWgReGnU6OSfmfVsQ4mjQ--9LPweFPIkYFOqE2d1kNHvRoQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
  background-size: cover;
}

.navBar {
  display: flex;
  width: 100%;
  height: 180px;
}

.first-image {
  width: 30%;
  height: 100px;

}

.first-image img {
  height: 180px;
  flex-shrink: 0;
  width: 761px;
  margin-left: 510px;
}

.date-and-time {
  width: 200px;
  height: 179px;
  align-items: flex-end;
  justify-content: flex-end;
  margin: auto;
  margin-left: 842px;
}

.time {
  font-size: 44px;
  margin-top: 25px;
  color: #D3AA4C;
}

.day {
  font-size: 30px;
  margin-top: -80px;
  margin-left: 46px;
  color: #D3AA4C;
  font-weight: 400;
}

.date {
  font-size: 31px;
  font-weight: 400;
  margin-top: -68px;
  color: #D3AA4C;
  text-align: center;
}

.second-div {
  height: 68px;
  width: 100%;
  margin-top: 10px;
  position: fixed;
}

.spotRate {
  width: 505px;
  height: 68px;
  flex-shrink: 0;
  background: #D3AA4C;
  box-shadow: 0px 4.67px 4.67px 0px rgba(0, 0, 0, 0.25);
  margin-left: 35px;
  position: fixed;
}

.spotRate h2 {
  color: #292929;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 11px;
  letter-spacing: 7px;
}

.cwbs {
  width: 935px;
  height: 68px;
  flex-shrink: 0;
  background-color: #D3AA4C;
  justify-content: space-around;
  box-shadow: 0px 4.67px 4.67px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  margin-left: 562px;
}

.cwbs h2 {
  width: 219px;
  height: 51px;
  flex-shrink: 0;
  width: 219px;
  height: 51px;
  flex-shrink: 0;
}

sub {
  margin-left: -265px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
}

.gd-slvr-box {
  height: 350px;
  width: 100%;
  margin-top: 85px;
  display: flex;
}

.main-box {
  width: 505px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #D3AA4C;
  background: #2F2E2C;
  margin-left: 35px;
}

.gold h2 {
  color: #D3AA4C;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin-top: 5px;
}

.buy-sell {
  width: 100%;
  height: 47px;
  margin-top: -14px;
}

.buy {
  display: flex;
}

.box {
  width: 22.424px;
  height: 22.424px;
  flex-shrink: 0;
  border-radius: 5.606px;
  background: #D3AA4C;
  margin-left: 20px;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
}

.text {
  margin-left: 8px;
  color: #D3AA4C;
  font-family: Roboto;
  font-size: 26.909px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -5px;
}

.oz {
  margin-left: 1px;
  margin-top: -1px;
  color: #D3AA4C;
  font-family: Roboto;
  font-size: 22.424px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sell {
  display: flex;
  margin-left: 290px;
  margin-top: -27px;
}

.rates {
  margin-top: -11px;
  height: 80px;
  width: 100%;

}

.red {
  width: 201px;
  height: 78px;
  margin-left: 17px;
  margin-top: -19px;
  flex-shrink: 0;
  border-radius: 9px;
  border: 1px solid #222121;
  background: #DE5B56;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.red h2 {
  color: #FFF;
  text-align: center;
  margin-top: 13px;
  font-family: Roboto;
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.green {
  width: 198px;
  height: 78px;
  margin-top: -80px;
  margin-left: 306px;
  flex-shrink: 0;
  border-radius: 9px;
  border: 1px solid #222121;
  background: #5FA147;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.green h2 {
  color: #FFF;
  text-align: center;
  margin-top: 13px;
  font-family: Roboto;
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.high-low {
  height: 26px;
  width: 100%;
  margin-top: -18px;
  margin-left: 20px;
}

.low {
  width: 48px;
  height: 26px;
  flex-shrink: 0;
  background: #DE5B56;
}

.low h4 {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.low h3 {
  margin-top: -47px;
  margin-left: 52px;
  color: #FFF;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.high {
  width: 48px;
  height: 26px;
  flex-shrink: 0;
  background: #5FA147;
  margin-left: 287px;
  margin-top: -50px;
  text-align: center;
}

.high h4 {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.high h3 {
  margin-left: 55px;
  margin-top: -47px;
  color: #FFF;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.silver {
  color: #D3AA4C;
  font-family: Roboto;
  line-height: normal;
  text-align: center;
  margin-top: 5px;
  margin-top: -36px;
  margin-top: -10px;
  font-size: 20px;
}

.buy-selll {
  margin-top: -20px;
  width: 100%;
  height: 47px;
  margin-top: -14px;
}

.boxes {
  width: 935px;
  height: 400px;
  margin-left: 20px;
}

.first-box {
  width: 100%;
  height: 65px;
  flex-shrink: 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #D3AA4C;
  background: #2F2E2C;
  margin-top: 13px;
}

.second-box {
  width: 100%;
  height: 65px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #D3AA4C;
  background: #2F2E2C;
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
}

.third-box {
  width: 100%;
  height: 65px;
  flex-shrink: 0;
  margin-top: 13px;
  border-radius: 5px;
  border: 1px solid #D3AA4C;
  background: #2F2E2C;
  display: flex;
  justify-content: space-around;
  gap: 113px
}

.fourth-box {
  width: 100%;
  height: 65px;
  margin-top: 13px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #D3AA4C;
  background: #2F2E2C;
  display: flex;
  justify-content: space-around;
  gap: 103px;
}

.fifth-box {
  width: 100%;
  height: 65px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #D3AA4C;
  background: #2F2E2C;
  margin-top: 13px;
  display: flex;
  justify-content: space-around;
  gap: 128px;
}

.first-box h1 {
  color: #FFF;
  font-family: Roboto;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 7px;
}

.second-box h1 {
  color: #FFF;
  font-family: Roboto;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 7px;
}

.second-box h2 {
  margin-left: -157px;
  font-size: 21px;
  margin-top: 24px;
  color: #FFF;
}

.ttb {
  margin-left: -124px;
}

.third-box h1 {
  color: #FFF;
  font-family: Roboto;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 7px;
}

.third-box h2 {
  color: #fff;
  margin-left: -120px;
}

.fourth-box h1 {
  color: #FFF;
  font-family: Roboto;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 7px;
}

.fourth-box h2 {
  color: #fff;
  margin-left: -112px;
  ;
}

.fifth-box h1 {
  color: #FFF;
  font-family: Roboto;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 7px;
}

.line-head {
  width: 100%;
  height: 30px;
  margin-top: 68px;
  display: flex;
}

.heads {
  height: 30px;
  width: 50%;
  justify-content: space-around;
  display: flex;
  margin-right: 10px;
  margin-top: -29px;
  margin-left: 662px;
  font-size: 9px;
}

.buyyers {
  color: #FFF;
  font-family: Roboto;
  font-size: 17.893px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.mesurs {
  color: #DE5B56;
  font-family: Roboto;
  font-size: 17.893px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sellers {
  color: #FFF;
  font-family: Roboto;
  font-size: 17.893px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.line {
  height: 20px;
  width: 100%;
  margin-top: -24px;
}

.green-line {
  width: 424.955px;
  height: 2.684px;
  flex-shrink: 0;
  background: #5FA247;
  margin-left: 700px;
}

.red-line {
  width: 314.914px;
  height: 3.684px;
  flex-shrink: 0;
  background: #DE5B56;
  margin-left: 1124px;
  margin-top: -3px;
}

.botom {
  margin-left: 714px;
  width: 47%;
  height: 20px;
  margin-top: -11px;
  display: flex;
  justify-content: space-between;
}

.frst-prc {
  color: #5FA247;
  font-family: Roboto;
  font-size: 17.893px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.scnd-prct {
  color: #DE5B56;
  font-family: Roboto;
  font-size: 17.893px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.updates {
  width: 100%;
  height: 30px;
  margin-top: 10px;
}

.update-text {
  width: 205px;
  height: 39px;
  flex-shrink: 0;
  background: #D3AA4C;
  margin-left: 30px;
  text-align: center;
}

.update-text h1 {
  color: #222121;
}

.main-text {
  width: 1280px;
  height: 40px;
  margin-top: -58px;
  margin-left: 235px;
  flex-shrink: 0;
  background: #80704D;
}

.main-text h1{
  font-size: 28px;
}